body {
	padding-top: 50px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
a:link,a:visited{
 text-decoration:none;  /*超链接无下划线*/
 color:#999999;
}
a:hover{
 text-decoration:underline;  /*鼠标放上去有下划线*/
 color:#666666;
}