<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>index</title>
</head>
<script language="javascript" type="text/javascript">
  function set(){
    var obj=showModalDialog('test.html',window,'dialogHeight:400px;dialogWidth:600px;center:yes;scroll:yes;help:no;status:no');   
  }
</script>

<body>
  <p><font size="+3">&nbsp;【resource】相关API</font></p><br />
    <table width="770" border="1" style="border-collapse:collapse">
      <tr>
        <td width="110" height="45">&nbsp;</td>
        <td width="110">id</td>
        <td width="110">name</td>
        <td width="110">content</td>
        <td width="110">URI</td>
        <td width="110">owner_id</td>
        <td width="110">invitee_id</td>
      </tr>
      <tr>
        <td height="55">List<br /><a href="#" onclick="set()">设置</a>|<a href="#" onclick="set()">>I/O过滤</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
      </tr>
      <tr>
        <td height="55">Insert<br /><a href="#" onclick="set()">设置</a>|<a href="#" onclick="set()">I/O过滤</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
      </tr>
      <tr>
        <td height="55">Update<br /><a href="#" onclick="set()">设置</a>|<a href="#" onclick="set()">I/O过滤</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
      </tr>
      <tr>
        <td height="55">Remove<br /><a href="#" onclick="set()">设置</a>|<a href="#" onclick="set()">I/O过滤</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
        <td><a href="#" onclick="set()">设置</a></td>
      </tr>
    </table>

</body>
</html>
